.property-card {
  transition: all 0.3s ease-in-out;
}
.property-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#navbar {
  transition: all 0.3s ease-in-out;
}
#mobile-menu {
  transition: all 0.3s ease-in-out;
}
